[submodule "race_auv_perception"]
	path = race_auv_perception
	url = https://github.com/GSO-soslab/race_auv_perception.git
	branch = main
[submodule "race_auv_sim"]
	path = race_auv_sim
	url = https://github.com/GSO-soslab/race_auv_sim.git
	branch = main
