<?xml version="1.0"?>
<robot name="race" xmlns:xacro="http://ros.org/wiki/xacro">


    <link name="base_link">
        <visual>
            <origin xyz="0.456 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
            <geometry>
                <mesh filename="package://race_description/mesh/RACE_body.obj" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <link name="cg_link"/>
    <joint name="cg_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="cg_link"/>
    </joint>

    <link name="imu"/>
    <joint name="imu_joint" type="fixed">
        <origin xyz="-0.05 0.0 0.15" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="imu"/>
    </joint>

    <link name="imu_sf"/>
    <joint name="imu__sf_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="imu"/>
        <child link="imu_sf"/>
    </joint>

    <link name="dvl"/>
    <joint name="dvl_joint" type="fixed">
        <origin xyz="0.0 0.0 -0.09" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="dvl"/>
    </joint>

    <link name="dvl_sf"/>
    <joint name="dvl_sf_joint" type="fixed">
        <origin xyz="-0.00 0.0 -0.09" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="dvl_sf"/>
    </joint>

    <link name="gps"/>
    <joint name="gps_joint" type="fixed">
        <origin xyz="0.25 0.1 0.4" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="gps"/>
    </joint>

    <link name="pressure"/>
    <joint name="pressure_joint" type="fixed">
        <origin xyz="0.1 0.0 0.0" rpy="3.1415926 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="pressure"/>
    </joint>


    <!-- thrusters -->
    <link name="sway_stern_thruster_link"/>
    <joint name="sway_stern_thruster_joint" type="fixed">
        <origin xyz="-0.2075 0.0 0.07535" rpy="3.1415926 0.0 -1.571"/>
        <parent link="base_link"/>
        <child link="sway_stern_thruster_link"/>
    </joint>
    
    <link name="heave_bow_thruster_link"/>
    <joint name="heave_bow_thruster_joint" type="fixed">
        <origin xyz="0.38065 0.0 0.07535" rpy="3.1415926 1.571 0.0"/>
        <parent link="base_link"/>
        <child link="heave_bow_thruster_link"/>
    </joint>

    <link name="heave_stern_port_thruster_link"/>
    <joint name="heave_stern_port_thruster_joint" type="fixed">
        <origin xyz="-0.104 -0.1034 0.07535" rpy="-1.571 1.571 0.0"/>
        <parent link="base_link"/>
        <child link="heave_stern_port_thruster_link"/>
    </joint>

    <link name="heave_stern_stdb_thruster_link"/>
    <joint name="heave_stern_stdb_thruster_joint" type="fixed">
        <origin xyz="-0.104 0.1034 0.07535" rpy="1.571 1.571 0.0"/>
        <parent link="base_link"/>
        <child link="heave_stern_stdb_thruster_link"/>
    </joint>


    <link name="surge_port_thruster_link"/>
    <joint name="surge_port_thruster_joint" type="fixed">
        <origin xyz="-0.404 0.125 0.05485" rpy="1.571 0.0 0.52"/>
        <parent link="base_link"/>
        <child link="surge_port_thruster_link"/>
    </joint>

    <link name="surge_stdb_thruster_link"/>
    <joint name="surge_stdb_thruster_joint" type="fixed">
        <origin xyz="-0.404 -0.125 0.05485" rpy="-1.571 0.0 -0.52"/>
        <parent link="base_link"/>
        <child link="surge_stdb_thruster_link"/>
    </joint>

</robot>