<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="race"/>

    <!--
        ''''''''''
        Electronics
        ''''''''''
    -->
    
    <!-- Bring up Pico MCU -->
    <include file="$(find race_bringup)/launch/include/pi_pico.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Bring up the Bluerobotics Pressure sensor -->
    <include file="$(find race_bringup)/launch/include/bluerobotics_bar30.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>  

    <!-- Bring up the Bluerobotics Ping360 MSIS sensor -->
    <!-- <include file="$(find race_bringup)/launch/include/bluerobotics_ping360.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>   -->

    <!-- Bring up the Power Minotor  -->
    <include file="$(find race_bringup)/launch/include/power_monitor.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>  

    <!-- Bring up Nucleus DVL -->
    <include file="$(find race_bringup)/launch/include/nucleus_dvl.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Bring up Waterlinked DVL -->
    <!-- <include file="$(find race_bringup)/launch/include/waterlinked_dvl.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include> -->

    <!-- Bring up Xsens AHRS -->
    <include file="$(find race_bringup)/launch/include/xsens_imu.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Bring up GPS -->
    <!-- <include file="$(find race_bringup)/launch/include/gps_nmea.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include> -->

    <!--
        ''''''''''
        Control
        ''''''''''
    -->
    <!-- urdf -->
    <include file="$(find race_bringup)/launch/include/description.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- localization -->
    <include file="$(find race_bringup)/launch/include/localization.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" value="true"/>
    </include>

    <!-- heml -->
    <include file="$(find race_bringup)/launch/bringup_helm.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- mvp_control -->
    <include file="$(find race_bringup)/launch/include/control.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" value="true"/>
    </include>
    
    <!-- joystick -->
    <include file="$(find race_bringup)/launch/include/joystick.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    
    <!-- rviz config -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find race_description)/rviz/config.rviz"/>

</launch>
